<!doctype html>
%html{:lang => "ja"} 
	%head 
		%meta{:charset => "UTF-8"}/ 
		%title Document
		%link{:rel => "stylesheet", :href => "style.css"}/ 
		%script{:src => "js/jquery-2.0.3.min.js"} 
		%script{:src => "js/d3.js"}
		%script{:src => "js/script.js"}
	%body
		#container
			%h1 D3 test
			#graph
				%h1 graph