<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>test</h1>
	<% @d3datas.each do |d3data| %>
		<p><%= d3data.name%></p>
		<p><%= d3data.data%></p>
	<% end %>
	<form method="post" action="new">
		<input type="submit" value="更新">
	</form>
</body>
</html>