<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>test</h1>
	<table>
		<% @test.each do |stu| %>
		<tr>
			<td><%= stu.id %></td>
			<td><%= stu.name %></td>
		</tr>
		<% end %>
	</table>
</body>
</html>